.lightBeam {
  --light-beam-x: 50vw;
  --light-beam-y: 50vh;
  @apply fixed inset-0 left-0 top-0 z-[-1] h-screen w-screen opacity-0 pointer-events-none;
  background: radial-gradient(
    100vw at var(--light-beam-x) var(--light-beam-y),
    rgba(241, 245, 249, 1),
    transparent 50%
  );
  transition: opacity 0.45s ease-in-out;
  will-change: opacity;

  &[data-visible="true"] {
    @apply opacity-100;
  }

  &[data-enabled="false"] {
    display: none;
  }
}

@media (hover: none), (pointer: coarse), (prefers-reduced-motion: reduce) {
  .lightBeam {
    display: none;
  }
}
