@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  *::-webkit-scrollbar {
    display: none;
  }
}

body {
  // @apply bg-slate-900 leading-relaxed text-white selection:bg-teal-300 selection:text-teal-900 overflow-auto;
  
  @apply bg-slate-200 leading-relaxed text-white selection:bg-teal-300 selection:text-teal-900 overflow-auto;

  background-image: radial-gradient(rgba(0,16,36,30%) 1px, transparent 0);
  background-position: left top;
  background-size: 2rem 2rem;
  background-repeat: repeat;
}

main {
  @apply w-1/2 h-fit mx-auto;
}

.wrapper {
  @apply flex justify-between flex-row;
}

header {
  @apply w-1/2 h-fit mx-auto;

  .header{
    @apply flex flex-row justify-between items-center;

    .headline {
      @apply flex flex-col gap-3;
    }
  
    nav {
  
      .navList {
       @apply flex flex-row gap-5;
      }
    
      .navListItem {
       @apply w-full;
      }
    }
  }
}

.socialList {
  @apply flex gap-2;
}

.lightBeam {

  @apply fixed left-0 top-0 w-screen h-screen inset-0 pointer-events-none z-[-1];
}

.homePage {
  @apply flex flex-col gap-4 py-6;
}

#info {
  @apply flex flex-row gap-3 ;
  .img {
    @apply rounded-full overflow-hidden shadow-lg inline-block;
  }

  .content {
    @apply flex flex-col gap-1 justify-between;
  }
}

.surface {
  @apply shadow-lg bg-white relative p-5 text-black rounded-[12px];

  &.size_ {
    &small { @apply p-3; }
    
  }

  &.fit {
    @apply w-fit max-w-fit;
  }

  &.dark {
    @apply text-white bg-black;
  }

  &.selectNone {
    user-select: none;
  }

  & ~ .surface {
    &::before {
      @apply content-[''] absolute top-0 left-1/2 border border-gray-400 h-4;
      transform: translateY(calc(-100% - 1px));
    }
  }
}
.tooltipParent {
  @apply relative;

  .tooltip {
    @apply absolute top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full shadow-md py-2 px-3 bg-opacity-50 bg-white opacity-0 ease-in duration-300 select-none;
  }

  &:hover{ 
    .tooltip {
      @apply -translate-y-full left-1/2 opacity-100 ;
    }
  }
}

  .headline {
    @apply relative pl-3 whitespace-nowrap w-full block;
    &::before {
      @apply content-[''] -translate-y-1/2 absolute left-0 top-1/2 w-1 h-1 bg-slate-500; 
    }
  }

section#about {
  @apply flex flex-col gap-10;

  .content {
    @apply flex flex-row gap-4;
    
    .left {
      @apply flex flex-col justify-start gap-3 w-auto;
    }
  
    .right {
      @apply min-w-[160px];
    }
  }
}

.surface#homePage {
  @apply flex flex-col gap-6;
}