@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

html {
  *::-webkit-scrollbar {
    display: none;
  }
}

body {
  @apply bg-slate-200 leading-relaxed text-white bg-slate-100 overflow-auto;
  background-color: #f6f8fa;
  background-image: radial-gradient(rgb(175, 167, 167) 1px, transparent 0);
  background-position: left top;
  background-size: 2rem 2rem;
  background-repeat: repeat;

  &:before {
    @apply content-[''] absolute left-0 top-0 w-screen h-screen;
  }
}

main {
  @apply lg:w-1/2 w-full h-fit mx-auto;
}


.wrapper {
  @apply flex justify-between flex-row;
}

header {
  @apply fixed z-50 w-full max-w-[1280px] h-fit left-1/2 -translate-x-1/2;

  .headerWrap {
    @apply flex flex-row justify-between items-center w-1/2 left-1/2 -translate-x-1/2;

    .headline {
      @apply flex flex-col gap-3;
    }

    nav {

      .navList {
        @apply flex flex-row gap-8;
      }

      .navListItem {
        @apply w-full color_secondary;
      }
    }
  }
}

.button {
  @apply whitespace-nowrap tracking-tight transition flex flex-row items-center justify-center gap-2 shadow color_dark border border border_color_primary rounded-[6px] py-2 px-3 text-base font-medium leading-none;

  &:active {
    @apply shadow-sm;
  }
}

.socialList {
  @apply flex sm:justify-start justify-center items-center gap-6 color_primary;
}

.lightBeam {

  @apply fixed left-0 top-0 w-screen h-screen inset-0 pointer-events-none z-[-1];
}

.homePage {
  @apply flex flex-col gap-4;
}

#info {
  @apply flex flex-row gap-3;

  .img {
    @apply rounded-full overflow-hidden shadow-lg inline-block;
  }

  .content {
    @apply flex flex-col gap-1 justify-between;
  }
}

#education {
  .row {
    @apply flex flex-row justify-between;
  }
}

.surface {
  @apply shadow-md bg-white relative p-5 text-black rounded-[12px] z-[2];

  &.size_ {
    &small {
      @apply p-3;
    }

  }

  &.fit {
    @apply w-fit max-w-fit;
  }

  &.dark {
    @apply text-white bg-black;
  }

  &.selectNone {
    user-select: none;
  }

  &.inOrder  {
    & + .surface {
      &::before {
        @apply content-[''] absolute top-0 left-1/2 shadow-md border border-gray-400 h-3 z-[0];
        transform: translateY(calc(-100% - 2px));
      }
    }
  }

  #headerWrap {
    @apply py-5 px-6;
  }
}

#experience {

  ul.periods {
    @apply relative flex flex-col gap-3;
    li {
      @apply relative ml-3 pl-4;
      &:before {
        @apply content-[''] bg-slate-300  w-2 h-2 rounded-full absolute top-1/2 left-0 -translate-y-1/2 -translate-x-1/2;
      }

      & + li  {
        &:after {
          @apply content-[''] border border-gray-300 h-6 absolute top-[6px] left-0 -translate-y-full -translate-x-1/2;
        }
      }
    }
  }
}

.tooltipParent {
  @apply relative;

  .tooltip {
    @apply absolute pointer-events-none top-0 left-1/2 -translate-y-1/2 -translate-x-1/2 rounded-full shadow-md py-1 px-3 bg-opacity-50 bg-white opacity-0 ease-in duration-300 select-none;
  }

  &:hover {
    .tooltip {
      @apply -translate-y-full -top-2 left-1/2 opacity-100;
    }
  }
}

.headline {
  @apply relative text-lg leading-6 font-normal pl-5 whitespace-nowrap w-full block color_primary;

  &::before {
    @apply content-[''] dots_bg rounded-full -translate-y-1/2 absolute left-0 top-1/2 w-[.5rem] h-[.5rem];
  }
}

.surface#homePage {
  @apply flex flex-col sm:rounded-[12px] rounded-none gap-6 p-3;
}

section {
  @apply shadow-sm bg_secondary rounded-[12px] p-6;

  &[data-theme = light] {
    @apply bg_primary shadow-none;
  }

  &#about {
    @apply flex flex-col gap-10;

    .content {
      @apply flex sm:flex-row flex-col-reverse items-center gap-5;

      .left {
        @apply flex flex-col flex-auto justify-center sm:text-start text-center gap-6 w-auto;
        
        .top {}
        .middle {}
        .bottom { @apply gap-6 flex sm:justify-between justify-center;}
      }

      .right {
        @apply flex items-center;
        .img {
          @apply rounded-full      shadow-xl p-0 overflow-hidden bg-white min-w-[190px];
          img {
            @apply translate-y-1;
          }
        }
      }
    }
  }
}

.draggableElement {
  &.draggable {
    @apply z-40 select-none;

    &>* {
      @apply transition-all shadow-lg;
    }
  }
}

@mixin textProperties() {
  &[data-fs = xs] { @apply text-xs}
  &[data-fs = sm] { @apply text-sm}
  &[data-fs = md], &[data-fs = base] { @apply text-base}
  &[data-fs = lg] { @apply text-lg}
  &[data-fs = xl] { @apply text-xl}
  &[data-fs = xxl] { @apply text-2xl}
  &[data-fs = xxxl] { @apply text-3xl}
  &[data-fs = xxxxl] { @apply text-4xl}
  &[data-fs = xxxxxl] { @apply text-5xl}

  &[data-fw = thin] { @apply font-thin};
  &[data-fw = extralight] { @apply font-extralight};
  &[data-fw = light] { @apply font-light};
  &[data-fw = normal] { @apply font-normal};
  &[data-fw = medium] { @apply font-medium};
  &[data-fw = semibold] { @apply font-semibold};
  &[data-fw = bold] { @apply font-bold};
  &[data-fw = extrabold] { @apply font-extrabold};
  &[data-fw = black] { @apply font-black};

  &[data-fw = thin] { @apply font-thin}
  &[data-fw = extralight] { @apply font-extralight};
  &[data-fw = light] { @apply font-light};
  &[data-fw = normal] { @apply font-normal};
  &[data-fw = medium] { @apply font-medium};
  &[data-fw = semibold] { @apply font-semibold};
  &[data-fw = bold] { @apply font-bold};
  &[data-fw = extrabold] { @apply font-extrabold};
  &[data-fw = black] { @apply font-black; };

  &[data-c = dark] { @apply color_primary;}
  &[data-c = lightdark] { @apply color_secondary; }
}


.text {
  color: #353849;

  &[data-fs = xs] { @apply text-xs;}
  &[data-fs = sm] { @apply text-sm;}
  &[data-fs = md], &[data-fs = base] { @apply text-base;}
  &[data-fs = lg] { @apply text-lg;}
  &[data-fs = xl] { @apply text-xl;}
  &[data-fs = xxl] { @apply text-2xl;}
  &[data-fs = xxxl] { @apply text-3xl;}
  &[data-fs = xxxxl] { @apply text-4xl;}
  &[data-fs = xxxxxl] { @apply text-5xl;}
}

h1 { @apply tracking-tight text-4xl font-semibold; @include textProperties(); }
h2 { @apply tracking-tight text-base font-semibold; @include textProperties(); }
h4 { @apply tracking-tight text-lg leading-7 font-normal; @include textProperties(); }
p { @apply tracking-tight text-base leading-7 font-normal color_secondary; @include textProperties(); }