$bg_primary: #fff;
$bg_secondary: #f6f8fa;

$dots_bg: #aaacbb;

$color_primary: #353849;
$color_secondary: #aaacbb;
$color_dark: #0d0d12;

$border_color_primary: #ebeef3;
$border_color_secondary: #ebeef3;
