@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(151, 151, 151);
}


.draggableParent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: lightblue;

  .draggableElement {
    position: absolute;
    left: 50px;
    top: 50px;
    transform-origin: center;
    transform: translateX(0) translateY(0);
    padding: 2.5rem 5rem;
    background-color: tomato;
    user-select: none !important;

    // &:hover {
    //   cursor: pointer;
    // }

    &:focus
    &:focus-visible,
    &:focus-within {
      cursor: all-scroll;
    }
  }

  .outerLine {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border-radius: 99999px;
      background-color: whitesmoke;
      transform: translateX(50%);
      transform-origin: right;
      scale: 0;
      opacity: 0;
      transition: 1.5s all ease;
    }

    &.show {
      &:before {
        opacity: 1;
        top: 50px;
        scale: 1;
      }
    }
  }
}